@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

*,
*:before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
}
html,
body {
    font-family: "Comfortaa";
    font-weight: 400;
    color: orange;
    height: 100%;
    width: 100%;
    background-color: black;
}

.wrapper {
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100%;
    padding-left: 305px;
}

.parametrsOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.colors {
    display: flex;
    gap: 5px;
    align-items: center;
}
.color {
    height: 15px;
    width: 15px;
    border-radius: 5px;
    cursor: pointer;
}


.el::after {
    content: " элементов(с блоком)";
}

.m::after {
    content: " метров";
}

.work::after {
    content: " р(работа)";
}

.optPrice::after{
    content: "руб(оптовая цена)";
}

.product {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(126, 126, 126, 0.1);
    border: 0.5px solid rgb(116, 116, 116);
    padding: 0.3em 0;
    text-align: center;
    margin: auto;
    white-space: nowrap;
}

.product__width {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    position: absolute;
    top: -30px;
    border-left: 1px solid rgba(136, 136, 136, 0.308);
    border-right: 1px solid rgba(136, 136, 136, 0.308);
}
.product__width::before {
    content: "<";
}

.product__width::after {
    content: ">";
}

.product__text {
    font-size: 40px;
    /* height: 40px; */
    display: flex;
    flex-direction: column;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange;
    text-align: center;
}

.product__height {
    font-size: 10px;
    writing-mode: tb-rl;
    color: white;
    position: absolute;
    right: -30px;
    padding-left: 20px;
    border-top: 1px solid rgba(136, 136, 136, 0.308);
    border-bottom: 1px solid rgba(136, 136, 136, 0.308);
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.product__height::before {
    content: "<";
}
.product__height::after {
    content: ">";
}


.client__block {
    width: 300px;
    height: 185px;
    border: 1px solid rgb(199, 33, 143);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 14px;
    color: white;
    padding: 10px 15px;
}

.client__old-price {
    font-size: 30px;
    text-decoration: 2px line-through rgb(199, 33, 143);
    margin: 5px 0;
}
.client__old-price::after {
    content: " руб";
}
.client__new-price {
    font-size: 50px;
    color: rgb(42, 171, 231);
    margin-bottom: 5px;
}
.client__new-price::after {
    content: " руб";
}

.productParameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.parametrsInput{
    margin-bottom: 10px;
}

.parametersItem {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.input__text {
    font-size: 20px;
    display: flex;
    border-radius: 5px;
    text-align: center;
}

.input__height {
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}


.addNewString {
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width:800px){
    .wrapper{
        padding-left: 0;
        justify-content: flex-start;
    }
    .client__block{
        position: relative;
        left: 0;
        top: 0;
        margin: 15px 0;
    }
    .product{
        margin: 100px 0;
    }
    .productParameters{
        margin: auto 0 0;
    }
    .input__text{
        width: 150px;
    }
}